head
  title MapPLZ: Map
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
  link(type="text/css", rel="stylesheet", href="/stylesheets/journal.min.css")
  style(type="text/css") p, #map{ color: #444; } a{ color: #44f } .hero-unit{ text-align: center; padding: 30px; background: rgb( 149, 177, 213 ); } img{ max-width: none !important; }
  style(type="text/css") html, body, #map{ height: 98%; width: 100%; overflow: hidden; } .CodeMirror, #code{ display: hidden; }

body
  #map
  #buttonbar(style="position:fixed;z-index:999;background:#000;left:10%;top:2%;")
  textarea#sketchplace #{program.code}

  script(type="text/javascript", src="/scripts/codemirror.js")
  script(type="text/javascript", src="/scripts/ruby.js")
  script(type="text/javascript", src="/scripts/jquery-1.7.2.min.js")
  script(type="text/javascript", src="/scripts/mapplz.js")
  script(type="text/javascript", src="/scripts/fullscreen.js")