head
  title MapPLZ
  link(type="text/css", rel="stylesheet", href="/stylesheets/journal.min.css")
  link(type="text/css", rel="stylesheet", href="/stylesheets/codemirror.css")
  style(type="text/css") .CodeMirror {border: 2px solid #000; } .CodeMirror-scroll{ height: auto; overflow: visible; }
  style(type="text/css") p, #map{ color: #444; } a{ color: #44f } .hero-unit{ text-align: center; padding: 30px; background: rgb( 149, 177, 213 ); } img{ max-width: none !important; }
  script(type="text/javascript") if((window.location+"").indexOf("www.mapplz") == -1){ window.location = "http://www.mapplz.com" }
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
body
  div.container
    .row
      .span8.offset2
        .hero-unit.text-center
          h1 MapPLZ
          p
            span{ style: "color: #fff" } an easier geo data system across languages and databases
            br
            a.btn.btn-primary(href="http://www.mapplz.com#documentation") Documentation
            a.btn.btn-success(href="http://www.mapplz.com/code-env/") Map Builder
    .row
      .span6
        h3 The Goals
        span Simplify mapping for developers everywhere by:
        ul
          li Consuming any geo data format via a single ETL function
          li Hiding complexity of geo queries and indexing
          li Exporting via open data formats and interactive maps
          li Supporting multiple languages and databases
      .span6
        h3 Ruby / Rails gem
        p 'gem install mapplz' to set up MapPLZ for Ruby scripts and servers
        p Spatialite and ActiveRecord support still under development.
        a(href="https://github.com/mapmeld/mapplz-ruby") MapPLZ-Ruby on GitHub

    .row
      .span6
        h3 Go package
        p 'go get github.com/mapmeld/mapplz-go' and install two other packages to set up MapPLZ for Go scripts and servers
        p Databases not yet supported
        a(href="https://github.com/mapmeld/mapplz-go") MapPLZ-Go on GitHub
      .span6
        h3 Node package
        p 'npm install mapplz' to set up MapPLZ for server-side JavaScript
        p Databases not yet supported
        a(href="https://github.com/mapmeld/mapplz-node") MapPLZ-Node on GitHub

    .row
      .span4.offset4
        img(src="/images/logo.jpg")
        br
        h4 Eating up all your garbage data

    .row(style="height:auto;")
      .span6(style="height:auto;")
        h3 Live Map Editor
        textarea#sketchplace
        a.btn.btn-success(onclick="startOver();") Start Over
        span &nbsp;&nbsp;&nbsp;
        a.btn.btn-primary(href="http://www.mapplz.com/code-env/") Map Builder
    
      .span6
        #buttonbar
        br
        #map
    
    br
    br

  script(type="text/javascript", src="/scripts/codemirror.js")
  script(type="text/javascript", src="/scripts/ruby.js")
  script(type="text/javascript", src="/scripts/jquery-1.7.2.min.js")
  script(type="text/javascript", src="/scripts/mapplz.js")
  script(type="text/javascript", src="/scripts/homepage.js")